name: flutter_1
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  candlesticks: ^2.1.0 
  
  http: ^1.2.0
  web_socket_channel: ^2.4.0 
  
  shared_preferences: ^2.2.15 
  
  intl: ^0.18.0
  
  font_awesome_flutter: ^10.4.0 # <-- ADD PACKAGE HERE

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
